html {
  background-color: beige;
}

h1{
  font-weight:bold;
  font-size: 5rem;
  font-style: normal;
  font-family: "Bevan", normal;
  line-height: 1.5;
  color:brown;
}
li {
  font-weight: bold;
}
a{
  color:brown;
}

a:hover {
  color: blue;
}

ol {
  list-style-type:lower-roman;
}
